@charset "UTF-8";

:root{
    --blueLight:#758ECD;
    --blueDark:#090C9B;
    --greenForest:#386150;
    }


*{  
    margin:0px; 
    padding:0px;
}

html{
font-size:16px;
}

body{
font-family: Arial, Helvetica, sans-serif;
min-height:100vh;
background: white;
}

a{
    text-decoration: none;
    color:black;
}


header{
display:flex;
justify-content: space-between;
background:#090C9B;
color:white;
padding:13px 25%;
}

header li {
display:inline-block;
}

header nav{
margin:auto 0;
}

header  a {
color:white;
}

header img#icon{
width:90px;
}

header .img_container{
    margin-right:15px;
}



header nav a{
    padding: 8px 15px;
    background: black;
    border-radius: 20px;
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0px 0.3vw
    
}

header nav a:hover{
background:white;
color:black;
transition-duration: 0.3s;
}




@media(max-width:1061px){
    header{
        padding: 13px 10%;
    }
}

@media(max-width:651px){
    header nav a{
        padding: 13px 15px;
        font-size: 0.8rem;
    }
    header {
        padding: 13px 2% 13px 4%;
    }
}










