@charset "UTF-8";

:root{
    --blueLight:#758ECD;
    --blueDark:#090C9B;
    --greenForest:#386150;
    }


*{  
    margin:0px; 
    padding:0px;
}

html{
font-size:16px;
}

body{
font-family: Arial, Helvetica, sans-serif;
min-height:100vh;
background: white;
}

a{
    text-decoration: none;
    color:black;
}


header{
    display: flex;
    justify-content: space-around;
    background:var(--blueDark);
    color: white;
    padding:13px 0px; 
    width: 100%;

}

.roll{
    position:fixed; left:0px; top:0px;
    padding:2px 0px;
    background:#090C9B50;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(4px);
}



header li {
display:inline-block;
}

header nav{
margin:auto 0;
}

header  a {
color:white;
}

header .icon{
width:90px;
}

header .img_container{
    margin-right:15px;
}

.header_icon_small{
    width:70px;
}



header nav a{
    padding: 8px 15px;
    background: black;
    border-radius: 20px;
    font-size: 1.0rem;
    font-weight: bold;
    margin: 0px 0.3vw
    
}

header nav a:hover{
background:white;
color:black;
transition-duration: 0.3s;
}




main{
    margin: 189px 2% 30px 2%;
}


section{
    padding: 40px 6%;
}

.welcome{
padding:0px 0px;
padding-bottom: 14%;
text-align: center;

}

.welcome h1{
font-size:8rem;
}

.welcome h2{
    font-size: 3.2rem;
    background: black;
    color: white;
    display: inline-block;
    }


@media(max-width:651px){
    header nav a{
        padding: 13px 15px;
        font-size: 0.8rem;
    }
}

@media(max-width:512px){
/* Menu Barrinha*/
}










