.projects{
padding-left: 0; padding-right: 0;
}


.projects > div{
    background: var(--maincolor2);
    width: 90%;
    padding: 4% 5%;
}

.projects .square {
    background: white;
    width: 26%;
    padding: 5px 5px 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8% 8% 3% 3%;
}

.projects .square > .img_container{
background:rgba(48, 47, 47);

}

.projects .square > .img_container img{
    width: 83%;
    display: block;
    margin: 3% auto 1% auto;
    }

.projects .square p{
margin: 2%;
}


.projects .details{
    background:rgba(48, 47, 47);
    color: white;
    width: 100%;
    border-radius: 45px;
    padding: 4px;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    max-height: 13px;
    overflow: hidden;
}


.projects .details img{
    width: 29px;
    margin: 3px 4%;
    background: white;
    border-radius: 50%;
}

.projects >div > .linha{
    display: flex;
    justify-content: space-between;
}

.projects > div > .info{
    background: var(--maincolor1);
    color: black;
    margin: 4% -5%;
    padding: 4% 10%;
}

.projects > div > .info .text{
width: 70%;
line-height: 1.5em;
}

.info > .text h1{
font-size: 2.0rem;
margin-bottom: 4%;
}

.projects .aba {
background:white;
font-size: 40px;
margin-top: 40px;
text-align: center;
color: black;
padding: 10px;
}

.projects .aba input {
    background: black;
    color: white;
    border-radius: 50%;
    padding: 7px 10px;
    border: none;
    font-size: 1.2rem;
}

.projects .aba input:hover {
    background: white;
    color: black;
}