.title {
    background: var(--maincolor2);
    padding: 3% 10% 3% 10%;
}


.title h1 {
    font-size: 5rem;
    margin: 0 auto 0 auto;
    text-align: center;
    font-family: var(--fontOtherTitles);
    background: var(--maincolor1);
    color: black;
    padding: 3%;
    border-radius: 31px;
    font-weight: 500;
    font-style: italic;
}

 .title h1 strong {
        background: var(--maincolor2);
        color: white;
        padding: 0 19px;
        font-style: normal;
        
}

.about{
    background: var(--maincolor2);
    padding: 3% 10% 8% 10%;
}

.about .full_width{
background: var(--maincolor1);
}

.about section{
background:var(--maincolor1);
padding: 2%;
}


.about  h1 {
background: var(--excolor2);
margin: 6% -2.1%;
font-size: 5rem;
}

.about .texto {
    background: var(--maincolor2);
    color: white;
    padding: 3% 2%;
    margin-bottom: 4%;
    width: 50%;
    line-height: 1.7rem;
    font-family: var(--fontSerifada);
    font-weight: 300;
    font-size: 1.3rem;
    text-indent: 1.1rem;
}

.about .texto p{
    margin: 5% 0;
}


.about .img_codes{
    background-image:url("../imagens/codigos.jpeg");
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    margin: 10% auto 25% auto;
}


.about .info {
    background: var(--maincolor2);
    color: white;
    padding: 40px 4%;
    width: 80%;
    margin: 5% auto 10% auto;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.322);
}

.about .info > div {
    background: var(--maincolor1);
    color: black;
    padding: 15px 1% 15px 6%;
    border-radius: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    
}

.about .info > div .detalhes{
    background: var(--maincolor2);
    color: white;
    padding: 2% 3% 3px 3%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

}

.about .info > div .detalhes .Black {
    background: var(--maincolor2);
    color: white;
    border-radius: 100px;
    padding: 0px 8%;
    line-height: 1.6rem;
    margin-bottom: 10px;
    font-family: var(--fontSerifada);
    font-weight: 400;
    font-size: 1.2rem;
    font-style: italic;
}

.about .info > div .detalhes .Black .tel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.0rem;
    display: inline-block;

}

p#tel {
display: inline-block;
margin-right: 3px;
}

.about .info > div .detalhes .White{
    background: var(--maincolor1);
    color: black;
    margin-top: 2%;
    border-radius: 100px;
    padding: 2px 8%;
    width: 73%;
    display: flex;
    justify-content:center;
    align-items: center;
    }

    .about .info > div .detalhes .White .linkedin_icon, .github_icon{
    width: 60px;
    border-radius: 50%;
    }

    .about .info > div .detalhes .White .linkedin_icon:hover, .github_icon:hover{
        animation: rotate 0.7s;
        background: var(--excolor1);
        }

        @keyframes rotate{
        from{
        transform: rotate(0deg);
        background: transparent;
        }
        to{
        transform: rotate(360deg);
        background:var(--excolor1);
        }
        }

    .about .info > div .detalhes .White .img_container {
     display: inline-block;
     margin:0 15px;
    }

.about .info > div .img_container{
    margin-right: 20px;
}

.about .info .My_Icon{
    width: 187px;
    border-radius: 50%;
    border: 26px solid var(--maincolor2);
}


[data-anime] {
opacity:0;
transition: 0.3s;
}

[data-anime="change_translate"]{
transform: translate3d(-50px,0,0);
}

[data-anime].animate{
opacity: 1;
transform: translate3d(0px,0px,0px);
}


















/*Max-Widts*/


@media(max-width:1240px){
.about .texto {
    width: 70%;
}
}

@media(max-width:1326px){
.about .info .My_Icon {
    width: 179px;
}
.about .info > div .detalhes {
    padding-top: 5% 
}

.about .info > div .detalhes .White {
    min-height: 127px;
    }

    .about .info > div .detalhes .White .linkedin_icon, .github_icon {
        width: 90px;
    }
}

@media(max-width:1096px){
    .about {
        padding-left: 5%;
        padding-right: 5%;
    }

    .about .texto {
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .about .info{
    padding: 40px 2%;
    width: 96%;   
}
.about .info > div .detalhes .Black {
    font-size: 1.4rem;
    line-height: 2.0rem;
}

.about .info > div .detalhes .Black .tel {
    font-size: 1.2rem; 
}

}

@media(max-width:882px){
    .about {
        padding-bottom: 20%;
    }

    .about h1{
        margin: 45% -1.1% 10% -1.1%;
    }

    .title h1{
    background: var(--maincolor2);
    color: white;

    }

    .title h1 strong{
    background: var(--maincolor1);
    color: black;
    }

    .title {
        padding: 3% 5% 6% 5%;
    }
    }
    @media(max-width:810px){
    .about section {
        padding: 2% 1%;
    }

    .about .info {
        padding: 40px 0;
        width: 100%;
       
    }


}

@media(max-width:760px){
    .about .texto {
        width: 96%;
        background:black;
        }

        .about .info{
            background: var(--maincolor1);
            margin: 10% auto 0 auto;
            color:black;
            padding: 40px 0 0 0;
            box-shadow: none;
            }
        
            .about .info > div{
            background: var(--maincolor2);
            color: white;
            flex-wrap: wrap;
            border-radius: 45px;
            justify-content: center;
            padding: 5px 5px 14px 4px;
            
            }
        
            .about .info > div .detalhes {
                background: var(--maincolor2);
                border-radius: 0px 0px 26px 26px;
                width: 100%;
            }
        
            .about .info > div > .img_container {
            width: 100%;
            background: var(--maincolor1);
            color: black;
            display: flex;
            justify-content: center;
            border-radius: 45px 45px 0 0;
            padding: 8% 0;
            margin:0px;
            }

            .about .info > div .detalhes .Black{
                text-align:center;
                font-size: 1.5rem;
                padding: 0;
                }
                
            .about .info > div .detalhes .Black .tel {
                font-size: 1.2rem;
    
              }
            
        }



@media(max-width:474px){
        .about {
           padding-left: 0%;
           padding-right: 0%;
            }
            .about section {
                padding: 2% 0;
            }

            .about .texto {
            width: 92%;
            padding: 3% 4%;
            }

            .about h1{
            font-size: 4.4rem;
            }
            }

@media(max-width:390px){
    .title h1 {
        font-size: 4.0rem;
    }    
    
}

            