.projects{
    padding: 5% 0;
    background: var(--maincolor2);
}


.projects > div{
    background: var(--maincolor2);
    width: 90%;
    padding: 2% 5%;
    overflow: hidden;
}

.projects .ordenacao {
    background: white;
    color: black;
    padding: 0 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5.5% 4% -5.5%;

}

.ordenacao > h2 {
margin-left: 10%;
font-family: var(--fontSubTitle);
font-style: italic;
}

.ordenacao > div {
    background: var(--excolor3);
    margin-right: 3%;
    padding: 6px 10px;
    width: 139px;
    display: flex;
    justify-content: space-evenly;
}

.ordenacao > div img{
    width: 26px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.ordenacao > div img:hover{
    opacity: 0.70;
}

.projects .square {
    background: white;
    opacity: 0.8;
    width: 26%;
    height: 10%;
    padding: 5px 0.5% 0px 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8% 8% 3% 3%;
    animation: push_right 0.7s;
}

@keyframes push_right{
from{
transform: translateX(-10vw);
}
to{
    transform: translateX(0px);
}
}

.projects .square > h1{
font-size: 1.6rem;
margin-bottom: 1%;
}

.projects .square > .img_container{
background:rgba(48, 47, 47);

}

.projects .square > .img_container img{
    width: 83%;
    display: block;
    margin: 3% auto 1% auto;
    }

.projects .square .data p{
margin: 2% 3% 2% 11%;
font-family: var(--fontOtherTitles);
font-weight: 300;
font-style: italic;
}

.projects .square .data{
    padding: 1% 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    transition: 0.5s;
}

.projects .square .data img{
width: 33px;
border-radius: 50%;
background:#7393B3;
}


.projects .square .text {
display: none;
margin: 0 0 0 0;
width: 80%;
text-align: center;
height: 25px;
line-height: 1.8rem;
font-size: 1.2em;
font-family: var(--fontSubTitle);
font-weight: 300;
overflow: hidden;
transition-duration: 0.3s;
}

.projects .square .open {
height: auto;
background: rgb(0,0,0,0.8);
padding: 16px 7px;
margin-bottom: 11px;
color: white;
animation: up 0.5s;
}

@keyframes up {
from{
    transform: translateY(50%)
}
to{
    transform: translateY(0)
}
}

.projects .details{
    background:rgba(48, 47, 47);
    color: white;
    width: 100%;
    border-radius: 45px;
    padding: 2% 1.9%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    max-height: 13px;
    overflow: hidden;
    transition-duration: 0.5s;
}


.projects .details img{
    width: 35px;
    margin: 3px 4%;
    background: white;
    border-radius: 50%;
}

.projects .full_view{
opacity:1;
border-radius: 8% 8% 0% 0%;
transition-duration: 0.3s;
}

.projects .square .full_view{
    max-height: none;
    transform: translateY(98%);
    border-radius: 0px 0px 45px 45px;
    background: rgb(68, 67, 67);
    transition-duration: 0.3s;
}

.projects .square .centralize {
    transform: translateY(50%);
    transition: 0.3s;
}


.projects >div > .linha{
    display: flex;
    justify-content: space-between;
    min-height: 24vw;
}

.projects > div > .info_project{
    background: var(--maincolor1);
    min-height: 32vh;
    color: black;
    margin: 6% -5.5%;
    padding: 6% 2%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.projects > div > .info_project .text{
    width: 52%;
    min-height: 10.4vw;
    line-height: 1.6rem;
    padding: 3% 2% 1.5% 2%;
    background: rgb(0,0,0,0.80);
    color: white;
    font-family: var(--fontSubTitle);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_project > .text h1{
    font-size: 3rem;
    font-family: var(--fontSubTitle);
    font-weight: 400;
    margin: 0px 0 4% 3%;
}

.info_project > .links {
    width: 40%;
    display: flex;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
}

.info_project > .links > div {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding: 7% 0 1% 0;
    backdrop-filter: blur(4px);
    background: rgb(0,0,0,0.5);
    justify-content: center;
    align-content: center;
    transition-duration: 0.2s;
}

.info_project > .links > div:hover{
    backdrop-filter: blur(3px);
    background: rgb(0,0,0,0.3);
    transition-duration: 0.6s;
}

.info_project > .links > div a {
    border-radius: 50px;
    padding: 1% 3%;
    width: 126px;
    background: var(--excolor1);
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_project > .links > div a:hover{
    background: linear-gradient(to right, var(--excolor1) 43%, var(--excolor2));
    transition-duration: 0.9s;
}

.info_project > .links > div a p {
   color: white;
}

.info_project > .links > div a > img{
    width: 52px;
    border-radius: 50%;
    background: white;
}

.projects .aba {
    margin: 8% -5% 0 -5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 6%;
}

.projects .aba .position{
    background: white;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 10px 1px 10px 9px;
    border-radius: 74px;
    width: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p#divisivel  {
    font-size: 58px;
    margin-left: 2%;
    color: #E0BE36;
    font-style: italic;
}

p#aba_atual  {
    background: rgba(48, 47, 47);
    color: white;
    font-size: 21px;
    font-family: var(--fontNumbers);
    font-weight: 300;
    font-style: italic;
    border-radius: 50%;
    padding: 0px 8px;
    position: relative;
    bottom: 16px;
    left: 8px;
}

p#abas_totais  {
    font-size: 36px;
    font-style: italic;
    background: #818589;
    color: #F06543;
    border-radius: 50%;
    padding: 0 10px;
    position: relative;
    top: 15px;
    right: 4px;
}



.projects .aba > .button_aba{
background: white;
border-radius: 50%;
width: 72px; height:72px;
cursor: pointer;
}

.projects .aba > .button_aba img{
    width: 72px;
    position:relative;
}

.projects .aba > .button_aba:hover img{
animation: aumentar 0.7s alternate infinite,
mexer_left 0.7s alternate infinite;
}

.projects .aba > div#button_Prev:hover img{
animation: mexer_right 0.8s alternate infinite,
aumentar 0.8s alternate infinite;
}


@keyframes aumentar {
from{
width: 60px;
}
to{
width:95px;
bottom:7px;
}
}

@keyframes mexer_left{
from{
    left:0px;
    
}
to{
left:4px;

}
}

@keyframes mexer_right{
    from{
    right:10px;
    }
    to{
    right:0px;
    }
    }




/* Media Widts*/



@media(max-width:1400px){

    .projects > div > .info_project {
    margin: 7% -5.5%;
    }

    .info_project > .links > div a {
        padding: 1% 1%;
        width:121px;
        justify-content: space-around;
        margin-bottom: 7%;
    }
.info_project > .links > div a > img {
    width: 41px;
}


}

@media(max-width:1150px){
    .projects {
        padding: 10% 0 1% 0;
    }
}

@media(max-width:1097px){
    .ordenacao > h2 {
        font-size: 1.8rem;
    }
}

@media(max-width:950px){

    .projects .ordenacao {
        margin: 0 -5.5% 11% -5.5%;
    }

    .projects .square .text {
        display: block;
        }

    .projects > div > .info_project {
        display: none;
    }


    .projects >div > .linha {
        justify-content: center;
        flex-wrap: wrap;
    }
    .projects .square {
    width: 90%;
    border-radius: 15px 15px 0% 0%;
    margin-bottom: 10%;
    opacity: 1;
    padding:0;
    }

    .projects .full_view {
        border-radius: 15px 15px 50px 50px;     
    }

    .projects .square > h1{
        margin:2% 0;
        }

    .projects .square > .img_container {
        overflow: hidden;
         height: 8vw;
    }
    .projects .square > .img_container img {
        width: 100%;
        filter: blur(1px);
    }

    .projects .square > .open_img {
        height: 14vw;
    }

    .projects .square > .img_container .open_img {
        filter: blur(0px);
    }


    
    .projects .square .data{
        margin: 2% 0 ;
    }

    .projects .square .data p{
        font-size: 1.2rem;
        font-weight: 400;
    }

    .projects .square .data img {
        width: 62px;
    }

    .projects .square .centralize {
        transform: translateY(0);
        transition: 0s;
    }
    

    .projects .details {
        padding:2% 0;
        border-radius: 28px 28px 0 0;
        max-height: 1px;
    }

    .projects .details img {
        width: 12%;
    }

    .projects .square .full_view {
        max-height: none;
        transform: translateY(0);
        border-radius: 0px 0px 45px 45px;
        background: auto;
        transition-duration: 0.3s;
    }
    .projects .aba {
        justify-content: flex-end;
        margin-top: 0;
    }
    .projects .aba .position {
        order: -1;
        margin-right: -72px;
        margin-top: 81px;
    }

    .projects .aba .prev_seta{
        margin-bottom: 92px;
    }

    .projects .aba > .button_aba:hover img{
        animation:none;
        }
         
    
        .projects .aba > div#button_Prev:hover img {
        animation: none;
        }
        
}

@media(max-width:810px){
    .projects {
        padding: 20% 0 1% 0;
    }
}
@media(max-width:604px){

    .projects .ordenacao {
        padding: 0px;
    }

    .ordenacao > div {
        padding: 4px 8px;
        width: 106px;
        margin-right: 0%;
    }
        
    .projects .square .data {
        margin: 3px 0;
    }

    .projects .square .data img {
        width: 35px;
    }

    .projects .square .text {
        width: 90%;
    }


    .projects > div {

        width: 100%;
        padding: 2% 0%;
    }
    .projects .ordenacao {
        margin: 0 0 11% 0;
    }

    .projects .aba {
        margin: 0 0 0 0;
    }
}

@media(max-width:500px){
    .projects .square {
        width: 100%;
    }

    .projects .square > .img_container {
        height: 15vw;
    }

    .projects .aba > .button_aba {
        width: 40px;
        height: 40px; 
    }

    .projects .aba > .button_aba img {
        width: 40px;
    }

    .projects .aba .position {
        margin-right: -24px;
        margin-top: 29px;
    }
     
    

}



@media(max-width:390px){
    .projects .square p {
        font-size: 12px;
    }
    }