.projects{
padding-left: 0; padding-right: 0;
}


.projects > div{
    background: var(--maincolor2);
    width: 90%;
    padding: 2% 5%;
}

.projects .ordenacao {
    background: white;
    color: black;
    padding: 0 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 -5% 4% -5%;

}

.ordenacao > h2 {
margin-left: 10%;
}

.ordenacao > div {
    background: var(--excolor3);
    margin-right: 3%;
    padding: 6px 10px;
    width: 139px;
    display: flex;
    justify-content: space-evenly;
}

.ordenacao > div img{
    width: 26px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.ordenacao > div img:hover{
    opacity: 0.70;
}

.projects .square {
    background: white;
    opacity: 0.8;
    width: 26%;
    height: 10%;
    padding: 5px 0.5% 0px 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8% 8% 3% 3%;
    animation: push_right 0.7s;
}

@keyframes push_right{
from{
transform: translateX(-10vw);
}
to{
    transform: translateX(0px);
}
}



.projects .square > .img_container{
background:rgba(48, 47, 47);

}

.projects .square > .img_container img{
    width: 83%;
    display: block;
    margin: 3% auto 1% auto;
    }

.projects .square p{
margin: 2% 3% 2% 11%;
}

.projects .square .data{
    padding: 1% 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    transition: 0.5s;
}

.projects .square .data img{
width: 33px;
border-radius: 50%;
background:#7393B3;
}


.projects .details{
    background:rgba(48, 47, 47);
    color: white;
    width: 100%;
    border-radius: 45px;
    padding: 2% 1.9%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    max-height: 13px;
    overflow: hidden;
    transition-duration: 0.5s;
}


.projects .details img{
    width: 35px;
    margin: 3px 4%;
    background: white;
    border-radius: 50%;
}

.projects .full_view{
opacity:1;
border-radius: 8% 8% 0% 0%;
transition-duration: 0.3s;
}

.projects .square .full_view{
    max-height: none;
    transform: translateY(98%);
    border-radius: 0px 0px 45px 45px;
    background: rgb(68, 67, 67);
    transition-duration: 0.3s;
}

.projects .square .centralize {
    transform: translateY(50%);
    transition: 0.3s;
}


.projects >div > .linha{
    display: flex;
    justify-content: space-between;
}

.projects > div > .info_project{
    background: var(--maincolor1);
    color: black;
    margin: 6% -5%;
    padding: 5% 5%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../imagens/projects/LF_screen.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.projects > div > .info_project .text{
    width: 50%;
    line-height: 1.5em;
    padding: 3% 2% 1.5% 2%;
    background: black;
    color: white;
    margin-left: 4%;
}

.info_project > .text h1{
    font-size: 3rem;
    margin-bottom: 8%;
}

.info_project > .links {
width: 32%;
display: flex;
justify-content: center;
}

.info_project > .links > div {

    display: flex;
    width: 57%;
    align-items: center;
    flex-direction: column;
  
}



.info_project > .links > div a {
    border-radius: 50px;
    padding: 3% 5%;
    width: 126px;
    background: var(--excolor1);
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_project > .links > div a p {
   color: white;
}

.info_project > .links > div a > img{
    width: 52px;
    margin-left: 15%;
    border-radius: 50%;
    background: white;
}

.projects .aba {
    margin: 8% -5% 0 -5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 11px 6%;
}

.projects .aba .position{
    background: white;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 10px 1px 10px 9px;
    border-radius: 74px;
    width: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p#divisivel  {
    font-size: 58px;
    margin-left: 2%;
    color: #E0BE36;
    font-style: italic;
}

p#aba_atual  {
    background: rgba(48, 47, 47);
    color: white;
    font-size: 21px;
    border-radius: 50%;
    padding: 0px 6px;
    position: relative;
    bottom: 16px;
    left: 8px;
}

p#abas_totais  {
    font-size: 37px;
    background: #818589;
    color: #F06543;
    border-radius: 50%;
    padding: 0 10px;
    position: relative;
    top: 15px;
    right: 4px;
}



.projects .aba > .button_aba{
background: white;
border-radius: 50%;
width: 72px; height:72px;
}

.projects .aba > .button_aba img{
    width: 72px;
    position:relative;
}

.projects .aba > .button_aba img:hover{
animation: aumentar 0.7s alternate infinite,
mexer_left 0.7s alternate infinite;
}

img#button_Prev:hover{
animation: mexer_right 0.8s alternate infinite,
aumentar 0.8s alternate infinite;
}


@keyframes aumentar {
from{
width: 60px;
}
to{
width:95px;
bottom:7px;
}
}

@keyframes mexer_left{
from{
    left:0px;
    
}
to{
left:4px;

}
}

@keyframes mexer_right{
    from{
    right:10px;
    }
    to{
    right:0px;
    }
    }








