.skills{
    padding: 0px;
}

.skills > h1 {
    background: var(--maincolor1);
    color: black;
    font-weight: 300;
    padding: 1% 6%;
}

.skills > div {
    background: var(--maincolor2);
    color: white;
    margin: 0 auto;
    width: 85%;
    padding: 5% 5% 0 5%;
    font-family: var(--fontSubTitle);
}

div > .block_lings {
    background: var(--maincolor1);
    color: black;
    margin: 0% auto;
    padding: 3% 0%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 65vw;
    font-size: 16px;
}

.skills > div > .info{
    color: white;
    margin: 0 4% 2% 0px;
    font-weight: 400;
    font-size: 1.7rem;
    font-style: italic;
    text-align: right;
    
}

.block_lings .container{
    padding: 0 0px 12px 0px;
    width: 26%;
    height: 20vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    background: rgb(240, 240, 240);
    overflow: hidden;
    transition:0.8s;
      
}

.block_lings .full_view{
    height: 34vw;
    transition: 0.4s;
}




    .block_lings .container .header, .content {
    text-align: center;
    font-family: var(--fontSubTitle);
    font-weight: 300;
        }

.block_lings .container .header{
    width: 100%;
    margin-bottom: 3%;
    background: var(--excolor3);
    height: 8vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 10% 0% 2% 0%;
}

.block_lings .container .header h1{
  font-size: 1.5rem;
  font-weight: 800;
  color:white;
    }

.block_lings .container .header .img_container{
    margin-top: 2%;
}

.block_lings .container .header img{      
    width:4vw ;
    position: relative;
    top: 2vw;
    background:white;
    border-radius: 50%;
    border: 2px solid white;
              
}

.block_lings .container .header .v_img{
    width: 3.24vw;
}



.block_lings .container .content{
width:90%;
margin-bottom: 11%;
transform: translateY(117px);
transition:0.5s;
}

.block_lings .container .content .up_arrow {
    padding: 0px 10px;
    background: red;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: white;
    color: white;
    position: relative;
    bottom: 14%;
    transition:0.5s;
    animation: ball 1.6s alternate infinite ;

}

@keyframes ball{
from{
background: red;
color:white;
-webkit-text-stroke-color: white;
}
to{
    background :white;
    color:red;
    -webkit-text-stroke-color: red;
}
}

.block_lings .container .content .hidden_arrow{
opacity:0;
padding: 0px;
font-size:0;
transition: 0.5s;
}

.block_lings .container .UpAnime{
    transform: translateY(0px);
    transition: 0.7s;
}

.block_lings .container .content .github_link {
    background:rgb(37, 37, 37);
    color: white;
    padding: 4px;
    border-radius: 50px;
    width: 112px;
    margin: 5% auto 0 auto;
    font-weight: 300;
}

.block_lings .container .content .github_link:hover {
background: rgb(88, 49, 110);
transition-duration: 0.2s;
}


.block_lings div#par {
    background:var(--excolor2)}

.block_lings > .par{
    background:rgba(48, 47, 47, 0.829);
    color:white;
    }




/* Max-Widts */

@media(min-width:1920px){
    .block_lings .container .content {
        transform: translateY(5.8vw);
    }
    .block_lings .container .UpAnime {
        transform: translateY(0px);
    }
}

@media(max-width:1708px){
    .block_lings .container .content {
        transform: translateY(5.5vw); 
    }
    .block_lings .container .UpAnime {
        transform: translateY(0px);
        transition: 0.7s;
    }
}

@media(max-width:1538px){
    .skills > div {
        width: 100%;
        padding: 5% 0 0 0;
    }

}


@media(max-width:1442px){
    .block_lings .container .content {
    
            transform: translateY(2.5vw);            
        
    }

    .block_lings .container .content .up_arrow{
     bottom:5%;

    }

}

@media(max-width:1322px){
    .block_lings .container .header img {
        width: 52.88px;
        top: 20px;
    }

    .block_lings .container .header .v_img {
        width: 42.88px;
    }

    .block_lings .container .header {
        height: 100px
    }

}


@media(max-width:1198px){
    .block_lings .full_view {
        height: 42vw;
    }
    div > .block_lings {
        min-height: 72vw;
    }
}



@media(max-width:1010px){
    .block_lings .container {
            width: 47%;
            height: 130px;
            animation: color_background 1.8s alternate infinite ;

}
.block_lings .animeOFF{animation:none;}

@keyframes color_background {
from{
    background:rgba(48, 47, 47);
}
to{
    background:#9DA9A0;
}
}

.block_lings .container .content {
    padding-top: 12px;
}



.block_lings .full_view {
    height: 54vw;
}
.block_lings .container .header {
padding: 3% 0 0 0;
}

.block_lings .container .header h1 {
    font-size: 2.0em;
    font-weight: 300;
}

.block_lings .container .header img {
    width: 76.88px;
    top: -8px;
    left: 12px;
}

.block_lings .container .header .img_container {
    margin-top:0;
    display: inline-block;
    margin-right: auto;
}

.block_lings .container .header .v_img {
    width: 62px;
}

}

@media(max-width:770px){
    .skills > div > .info {
    width: 95%;
    margin: 7% auto 4% auto;
    border-radius: 0px;
    }
}

@media(max-width:683px){
    .block_lings .container {
        width: 89%;
    }
    .block_lings .full_view {
        height: 78vw;
    }
    div > .block_lings {
        padding: 13% 0%;
    }
}

@media(max-width:508px){
    .block_lings .container .header h1 {
        font-size: 1.7em;
    }
    .skills > div > .info {
        width: 95%;
        text-align: left;
        padding: 0 1% 0 3%;
    }
}

@media(max-width:442px){
    .block_lings .container {
        width: 100%;
        margin: 8% 0;
    }

    .block_lings .full_view {
        height: 98vw;
    }

    .block_lings .container .content{
     font-size: 0.9em;
    }

}


