.skills{
    padding: 0px;
}

.skills > h1{
margin:6% 0px
}


.skills > div {
    background: var(--maincolor2);
    color: white;
    margin: 8% auto;
    width: 85%;
    padding: 6% 5%;
    font-family: var(--fontSubTitle);
}

div > .block_lings {
    background: var(--maincolor1);
    color: black;
    margin: 0% auto;
    padding: 3% 0%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills > div > .info{
    padding: 57px 2%;
    width: 50%;
    background: white;
    color: black;
    margin: 0 0 2% auto;
    border-radius: 27px;
    font-weight: 500;
    font-size: 1.4rem;
}


.block_lings .container{
    padding: 0 0px 12px 0px;
    width: 26%;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin: 2% 0;
    background: rgb(223, 223, 223);
    overflow: hidden;
   
    
}




    .block_lings .container .header, .content {
    text-align: center;
    font-family: var(--fontSubTitle);
    font-weight: 300;
        }

.block_lings .container .header{
    width: 100%;
    margin-bottom: 3%;
    background: var(--excolor3);
    height: 8vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 10% 0% 2% 0%;
}

.block_lings .container .header h1{
  font-size: 1.5rem;
  font-weight: 400;
    }

.block_lings .container .header .img_container{
    margin-top: 2%;
}

.block_lings .container .header img{      
    width:4vw ;
    position: relative;
    top: 2vw;
    background:white;
    border-radius: 39px;
    border: 2px solid white;
              
}

.block_lings .container .header .v_img{
    width: 3.24vw;
}



.block_lings .container .content{
width:90%;
margin-bottom: 11%;
transform: translateY(145px);
}

.UpAnime{
    transform: translateY(0px);
}

.block_lings .container .content .github_link {
    background:rgb(37, 37, 37);
    color: white;
    padding: 4px;
    border-radius: 50px;
    width: 112px;
    margin: 5% auto 0 auto;
    font-weight: 400;
}

.block_lings .container .content .github_link:hover {
background: rgb(88, 49, 110);
transition-duration: 0.4s;
}


.block_lings div#par {
    background:var(--excolor2)}

.block_lings > .par{
    background:rgba(48, 47, 47, 0.829);
    color:white;
    }




/* Max-Widts */

@media(max-width:1538px){
    .skills > div {
        width: 100%;
        padding: 10% 0%;
    }

}

@media(max-width:1322px){
    .block_lings .container .header img {
        width: 52.88px;
        top: 20px;
    }

    .block_lings .container .header .v_img {
        width: 42.88px;
    }

    .block_lings .container .header {
        height: 100px
    }

}


@media(max-width:1178px){
    .block_lings .container {
        height: 40vw; 
    }

}

@media(max-width:1010px){
    .block_lings .container {
            width: 47%;

}
}

@media(max-width:868px){
    .block_lings .container {
        height: 55vw;
    }
}


@media(max-width:654px){
    .block_lings .container {
        height: 60vw;
    }

    .block_lings .container .header img {
        top: 15px;
    }
}
@media(max-width:598px){
    .block_lings .container {
        width: 100%;
        margin: 5% 0;
    }
}

